CONF_VERSION = "2"

MACHINE = "qemux86-64"

BB_DISKMON_DIRS = ""
BB_GENERATE_SHALLOW_TARBALLS = "1"
BB_GIT_SHALLOW = "1"
EXTRA_IMAGE_FEATURES = "debug-tweaks"
PACKAGE_CLASSES = "package_rpm"
PACKAGECONFIG:append:pn-qemu-system-native = " sdl"
PATCHRESOLVE = "noop"
SCA_VERBOSE_OUTPUT = "1"
USER_CLASSES = "image-prelink"

INHERIT += "rm_work"

# Add some preferred versions but for native only
PREFERRED_VERSION_python3-setuptools-scm-native = "6.4.%"
PREFERRED_VERSION_python3-packaging-native = "21.3"
PREFERRED_VERSION_python3-pyparsing-native = "3.%"
