name: "[master]-cache-build"

on:
  schedule:
    - cron: "30 10 * * *"
  workflow_dispatch:

jobs:
  buildrun:
    name: "build"
    env:
      DISTRO: scatest
      SCM_BRANCH: master
      BUILD_MAXRUNTIME: 20000
      PYTHONIOENCODING: utf8
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8

    runs-on: ubuntu-latest

    container:
      image: privkweihmann/yocto-sca-minimal:2004
      env:
        WORKSPACE: /opt/build
        TOPDIR: /opt/build
        TEMPLATECONF: /opt/build/sources/meta-sca/conf/templates/scatest-qemux86-64/
      volumes:
        - ${{ github.workspace }}:/opt/build
      options: --privileged --user=yoctouser

    steps:
      - name: setup (container)
        uses: priv-kweihmann/meta-sca-ci-utils/preparecontainer@latest
      - name: setup (caches)
        run: |
          mkdir -p ${WORKSPACE}/sstate-cache
        shell: bash
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d-%H-%M-%S')" >> $GITHUB_OUTPUT
      - name: additional setup (caches)
        uses: actions/cache@v3
        with:
          path: /opt/build/sstate-cache
          key: sca-glibc-${{ steps.date.outputs.date }}
      - name: checkout (poky)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: git://git.yoctoproject.org/poky.git
          branch: ${{ env.SCM_BRANCH }}
          add-layer: "0"
      - name: checkout (meta-sca)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: https://github.com/priv-kweihmann/meta-sca.git
          branch: ${{ env.SCM_BRANCH }}
      - name: configure (caches)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@latest
        with:
          variable: SSTATE_DIR
          value: /opt/build/sstate-cache
      - name: setup (rm_work)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@latest
        with:
          variable: INHERIT
          operation: " += "
          value: "rm_work"
      - name: build (glibc)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: glibc
          ignore-exit-codes: 124 137
      - name: build (rust)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: "rust-llvm-native rust-native cargo cargo-native"
          ignore-exit-codes: 124 137
      - name: build (kernel)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: linux-yocto
          ignore-exit-codes: 124 137
      - name: build (go-tools)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: "golint-sca-native licensecheck-sca-native revive-sca-native slick-sca-native stank-sca-native"
          ignore-exit-codes: 124 137
      - name: build
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: "core-image-minimal-scatest bad-go bad-package qemu-system-native"
          ignore-exit-codes: 124 137
