name: "[master]-nightly"

on:
  schedule:
    - cron: "30 18 * * *"
  workflow_dispatch: 

jobs:
  qemux86:
    name: "build"
    env:
      DISTRO: scatest
      PYTHONIOENCODING: utf8
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      BUILD_EXPORT: 1
      SCM_BRANCH: master
      BUILD_MAXRUNTIME: 21000

    runs-on: ubuntu-22.04

    strategy:
      matrix:
        testset: [standard, kernel, cbmc, cppcheck, license]
        include:
        - testset: standard
          BUILD_PARAMFILE: standard
          WITH_KERNEL: 1
        - testset: kernel
          BUILD_PARAMFILE: kernel
          WITH_KERNEL: 0
          BUILDNTEST_NOSCABOT: 1
        - testset: cbmc
          BUILD_PARAMFILE: cbmc
          WITH_KERNEL: 0
          BUILDNTEST_NOSCABOT: 1
        - testset: cppcheck
          BUILD_PARAMFILE: cppcheck
          WITH_KERNEL: 0
          BUILDNTEST_NOSCABOT: 1
        - testset: license
          BUILD_PARAMFILE: license
          WITH_KERNEL: 0
          BUILDNTEST_NOSCABOT: 1
    container:
      image: privkweihmann/yocto-sca-minimal:2004
      env:
        WORKSPACE: /opt/build
        TOPDIR: /opt/build
        TEMPLATECONF: /opt/build/sources/meta-sca/conf/templates/scatest-qemux86-64/
      volumes:
        - ${{ github.workspace }}:/opt/build
      options: --privileged --user=yoctouser

    steps:
      - name: setup (container)
        uses: priv-kweihmann/meta-sca-ci-utils/preparecontainer@latest
      - name: checkout (poky)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: git://git.yoctoproject.org/poky.git
          branch: ${{ env.SCM_BRANCH }}
          add-layer: "0"
      - name: checkout (meta-sca)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: https://github.com/priv-kweihmann/meta-sca.git
          branch: ${{ env.SCM_BRANCH }}
      - name: setup (bitbake config)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@latest
        with:
          variable: SCA_AVAILABLE_MODULES
          value: /opt/build/sources/meta-sca/test/lang_${{ matrix.BUILD_PARAMFILE }}.txt
      - name: Get current date
        id: date
        run: |
          echo "date=$(date +'%Y-%m-%d-%H-%M-%S')" >> $GITHUB_OUTPUT
          echo "date_month=$(date +'%Y-%m')" >> $GITHUB_OUTPUT
          echo "date_day=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      - name: configure (caches)
        uses: actions/cache@v3
        with:
          path: /opt/build/sstate-cache
          key: sca-glibc-${{ steps.date.outputs.date }}
          restore-keys: |
            sca-glibc-${{ steps.date.outputs.date_day }}
            sca-glibc-${{ steps.date.outputs.date_month }}
            sca-glibc-
      - name: activate (caches)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@latest
        with:
          variable: SSTATE_DIR
          value: /opt/build/sstate-cache
      - name: build (glibc)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: glibc
      - name: build (qemu-system)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: qemu-system-native
      - name: build (kernel)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        if: ${{ matrix.WITH_KERNEL }} == '1'
        with:
          target: linux-yocto-tiny
      - name: build (sca-modules)
        uses: priv-kweihmann/meta-sca-ci-utils/buildmodules@latest
        with:
          parameter-file: ${{ matrix.BUILD_PARAMFILE }}
        env:
          BUILDNTEST_NOSDK: 1
      - name: test (sca results)
        uses: priv-kweihmann/meta-sca-ci-utils/testresults@latest
        with:
          parameter-file: ${{ matrix.BUILD_PARAMFILE }}
        env:
          BUILDNTEST_NOSCABOT: ${{ matrix.BUILDNTEST_NOSCABOT }}
      - if: env.BUILD_EXPORT == '1'
        name: checkout (webpage)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: https://github.com/priv-kweihmann/priv-kweihmann.github.io.git
          branch: master
          add-layer: "0"
          remove-git: "0"
      - if: env.BUILD_EXPORT == '1'
        name: build (webpage)
        uses: priv-kweihmann/meta-sca-ci-utils/exportresults@latest
        with:
          parameter-file: ${{ matrix.BUILD_PARAMFILE }}
          branch: ${{ env.SCM_BRANCH }}
          deploy-token: ${{ secrets.WEBDEPLOY }}
      - name: print disk usage
        if: always()
        uses: priv-kweihmann/meta-sca-ci-utils/diskusage@latest
