name: "Package check"

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch: 

jobs:
  qemux86:
    name: "build"
    env:
      DISTRO: scatest
      SCM_BRANCH: master
      BUILD_MAXRUNTIME: 21000
      PYTHONIOENCODING: utf8
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8

    runs-on: ubuntu-22.04

    container:
      image: privkweihmann/yocto-sca-minimal:2204
      env:
        WORKSPACE: /opt/build
        TOPDIR: /opt/build
        TEMPLATECONF: /opt/build/sources/meta-sca/conf/templates/scatest-qemux86-64/
      volumes:
        - ${{ github.workspace }}:/opt/build
      options: --privileged --user=yoctouser

    steps:
      - name: setup (container)
        uses: priv-kweihmann/meta-sca-ci-utils/preparecontainer@2.0
      - name: checkout (poky)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/openembedded/openembedded-core.git
          branch: ${{ env.SCM_BRANCH }}
          add-layer: "0"
      - name: checkout (bitbake)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/openembedded/bitbake.git
          branch: master
          add-layer: "0"
      - name: checkout (meta-yocto)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://git.yoctoproject.org/meta-yocto.git
          branch: ${{ env.SCM_BRANCH }}
          add-layer: "0"
      - name: checkout (meta-sca)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/priv-kweihmann/meta-sca.git
          branch: master
      - name: setup layer prio (bitbake config)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@2.0
        with:
          variable: BBFILE_PRIORITY_meta-sca
          value: 100
      - name: setup layer preference (bitbake config)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@2.0
        with:
          variable: SCA_DEFAULT_PREFERENCE
          value: 0
      - name: check (packages)
        uses: priv-kweihmann/meta-sca-ci-utils/packagecheck@2.0
        with:
          backoff-time: 60
          blacklist: "blocklist.txt"
          deploy-token: ${{ secrets.WEBDEPLOY }}
          user: "priv-kweihmann"
